@import '../../sass/variables';

.contact-row {
    height: $contact-row-height;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $brand-green;
    font-size: .9rem;
    img {
        max-height: 80%;
    }
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $brand-green;
    }
    a:hover {
        font-weight: 400;
    }
    a i {
        margin-right: .5rem;
    }
    h1 {
        font-size: 1.2rem;
    }
}

.brand-clickable {
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
        &:focus {
        outline: none;
    }
}

nav {
    // position: initial;
    // top: 72px;
    height: $header-height;
    background-color: $brand-green-light;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        text-decoration: none;
        color: $brand-green;
        padding: 0 1.5rem;
        color: #fff;
        height: 100%;
        display: flex;
        align-items: center;
    };
    a:hover, .active-link {
        background-color: $brand-green;
    }   
}

.profile-menu-container {
    height: 100%;
}

.profile-btn {
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}
