@import '../../sass/variables';

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: $footer-height;
    background: $brand-green;
    opacity: 0.85;
    div {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-grow: 1;
    }
    span {
        color: #fff;
    }
}

a {
    padding: 0px 5px;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    position: relative;
}

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after, .active-link:after  { 
    width: 100%; 
    left: 0; 
}