
@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,600&display=swap');
// COLORS
$brand-green: rgb(26, 139, 81);
$brand-green-light: rgba(26, 139, 81, .85);
$light-grey-background: #fafafa;
$medium-grey: #9e9e9e36;
$dark-grey: #9e9e9ee6;
$notifications-red: #dd2f22;
$notifications-green: #42c13e;
$blue: #0888f7;

// FONTS
$main-font: 'Raleway', sans-serif;

// SIZES
$contact-row-height: 4.5rem;
$header-height: 3rem;
$footer-height: 6rem;
$mobile-header-height: 55px;

// desktop-wrapper padding
$desktop-wrapper-padding-top: 2rem;
$desktop-wrapper-padding-right: 3rem;
$desktop-wrapper-padding-bottom: 2rem;
$desktop-wrapper-padding-left: 3rem;
$desktop-wrapper-padding: $desktop-wrapper-padding-top $desktop-wrapper-padding-right $desktop-wrapper-padding-bottom $desktop-wrapper-padding-left;

// mobile-wrapper padding
$mobile-wrapper-padding-top: 0;
$mobile-wrapper-padding-right: 1.5rem ;
$mobile-wrapper-padding-bottom: 1rem;
$mobile-wrapper-padding-left: 1.5rem;
$mobile-wrapper-padding: $mobile-wrapper-padding-top $mobile-wrapper-padding-right $mobile-wrapper-padding-bottom $mobile-wrapper-padding-left;

$deviseLimit: 1095px;