
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,400,600&display=swap');

// COLORS
$brand-green: #1a8b51;

// FONTS
$main-font:  'Titillium Web', sans-serif;

// SIZES
$header-height: 150px;
$footer-height: 130px;