
@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,600&display=swap');
// COLORS
$brand-green: rgb(26, 139, 81);
$brand-green-light: rgba(26, 139, 81, .85);
$light-grey-background: #fafafa;

// FONTS
$main-font: 'Raleway', sans-serif;

// SIZES
$contact-row-height: 4.5rem;
$header-height: 3rem;
$footer-height: 100px;
$mobile-header-height: 55px;