/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body, p {  
    margin: 0;
    font-family: $main-font;
    letter-spacing: 0.1em;
    line-height: 1.5rem;
    font-weight: 300;
    font-size: 1rem;
}


nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

h2 {
    font-weight: 300;
}

h4 {
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.1em;
}

mat-expansion-panel-header {
    background-color: $brand-green-light !important;
}

mat-panel-title {
    color: #fff !important;
}

.mat-expansion-panel-header-title {
    font-weight: 200;
}

.mat-expansion-indicator::after {
    color: #fff;
}

button {
    background: $brand-green-light !important;
    color: #fff !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
    &:hover {
        background: $brand-green !important;
    }
}

.mat-button-wrapper {
    font-weight: 200 !important;
    letter-spacing: 0.1em !important;
}
