
.images-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    img {
        width: 15%;
    }
}


@media screen and (max-width: 700px) {
    .images-box img {
        width: 25%;
    }
}

@media screen and (max-width: 500px) {
    .images-box img {
        width: 45%;
    }
}