@import '../../sass/variables';

.text-col {
    display: flex;
    flex-direction: column;
    h2 {
        color: $brand-green-light !important;
    }
}

app-user-form {
    border: 1px solid $brand-green-light;
    padding: 1rem;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.catalog-col {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

mat-card {
    &:hover {
        filter: contrast(0.8);
        transition: .5s;
    }
}

.row {
    display:flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    justify-content: space-between;
}

.col {
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    &:first-child {
        width: 68%;
        height: inherit;
        justify-content: space-between;
    }
    &:last-child {
        width: 28%;
    }
}

.contact-container {
    border: 1px solid $brand-green-light;
    padding: 1rem;
    border-radius: 3px;
    margin-top: 2rem;
    p {
        margin-bottom: 1rem; 
    }
}

@media screen and (max-width: 1095px) {
    .col {
        &:first-child, &:last-child {
            width: 100%;
        }
      margin-bottom: 1rem;
    }
}
