<div class="flex-wrapper row">
  <div class="text-col col">
    <div>
      <h2>BIENVENUE CHEZ BALAGNE MEDICAL SERVICE  <strong>{{ currentUser.username | uppercase }}</strong></h2>
      <p>Ceci est votre espace personnel. Ici vous pourrez nous envoyer
        vos demandes directement et consulter notre catalogue réservé aux pharmaciens</p>
    </div>
    <app-user-form></app-user-form>
  </div>
  <div class="catalog-col col">
    <mat-card>
      <app-catalog-preview></app-catalog-preview>
    </mat-card>
  </div>
</div>
<div class="contact-container">
  <p>UNE COMMANDE? UNE QUESTION? N'HÉSITEZ PAS À NOUS ENVOYER UN MESSAGE</p>
  <app-contact-form></app-contact-form>
</div>
