<div class="form-header">
    <p>MES INFORMATIONS</p>
    <i class="material-icons edit-icon" (click)="onToggleEditMode()">edit</i>
</div>
<div class="main-container">
    <div *ngIf="isSending" class="spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
    <form 
        [formGroup]="form" 
        (ngSubmit)="onSubmit(form, formDirective)"
        #formDirective="ngForm"
        (keydown.enter)="$event.preventDefault()">
        <mat-form-field *ngIf="!isLoggedIn">
            <input matInput placeholder="Saisissez votre nom" id="name" formControlName="username" required>
            <mat-error *ngIf="form.get('username').invalid">Vous devez saisir votre nom</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="!isLoggedIn">
            <input matInput placeholder="Entrez votre email" id="email" formControlName="email" required>
            <mat-error *ngIf="form.get('email').invalid">Email invalide</mat-error>
        </mat-form-field>
        <button [disabled]="!isEditMode" mat-button>Enregistrer</button>
    </form>
</div>
