@import 'src/sass/variables';

.row {
    display:flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    justify-content: space-between;
}

.col {
    float: left;
    width: 48%;
    box-sizing: border-box;
    display: flex;
}

.col:first-child {
    padding: 1rem;
    border: 1px solid $brand-green;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    a {
        color: $brand-green-light;
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-top: .5rem;
        width: fit-content;
    }
    a:hover {
        color: $brand-green;
    }
    i {
        margin-right: .5rem;
    }
}

iframe {
    width: 100%;
    min-height: calc(
        100vh - #{$contact-row-height}
        - #{$header-height}
        - #{$footer-height}
        - #{$desktop-wrapper-padding-top}
        - #{$desktop-wrapper-padding-bottom}
    );
}

app-contact-form {
    margin-top: 1rem;
    flex-grow: 1;
    display: block;
}

@media screen and (max-width: 1095px) {
    .col {
      width: 100%;
      margin-bottom: 1rem;
    }
}