<div class="row">
  <div class="col">
    <div>
      <span>Lieu dit campu longu<br>route de calenzana<br>20260 Calvi</span>
      <a href="tel:+33495307856"><i class="material-icons">phone</i> 04.95.30.78.56</a>
      <a href="tel:+33626770707"><i class="material-icons">phone_iphone</i> 06.26.77.07.07</a>
      <a href="mailto: contact@balagnemedical.com"><i class="material-icons">email</i> contact@balagnemedical.com</a>
    </div>
    <app-contact-form></app-contact-form>
  </div>
  <div class="col">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2939.59030764357!2d8.795891115462076!3d42.54275687917495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d0eae11585ca41%3A0xdaf978f3a8bddf45!2sBalagne%20Medical%20Services!5e0!3m2!1sen!2sca!4v1567882907759!5m2!1sen!2sca" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>