<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over">
        <ul>
            <li>
                <a routerLink="./" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()">Accueil</a>
            </li>
            <li>
                <a routerLink="./services-particuliers" routerLinkActive="active-link" (click)="sidenav.toggle()">Particuliers</a>
            </li>
            <li>
                <a routerLink="./services-professionnels" routerLinkActive="active-link"  (click)="sidenav.toggle()">Professionnels</a>
            </li>
            <li>
                <a routerLink="./pharmacies" routerLinkActive="active-link"  (click)="sidenav.toggle()">Pharmacies</a>
            </li>
            <li>
                <a routerLink="./contact" routerLinkActive="active-link"  (click)="sidenav.toggle()">Nous contacter</a>
            </li>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header *ngIf="deviseSize === 'desktop'"></app-header>
        <header *ngIf="deviseSize === 'mobile'">
            <button mat-button (click)="sidenav.toggle()">
                <i class="material-icons">menu</i>
            </button>
            <img src="../assets/images/balagne-medical.png" routerLink="/" />
        </header>
        <div [ngClass]="{'desktop-wrapper': deviseSize === 'desktop', 'mobile-wrapper': deviseSize === 'mobile'}">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>