@import '../sass/variables';

.mobile-wrapper {
    margin-top: calc(#{$mobile-header-height} + 2rem);
    padding: $mobile-wrapper-padding;
    min-height: calc(100vh - #{$mobile-header-height} - #{$footer-height} - 3rem);
}

.desktop-wrapper {
    padding: $desktop-wrapper-padding;
    margin-top: calc(#{$contact-row-height} + #{$header-height});
    min-height: calc(100vh - #{$contact-row-height} - #{$header-height} - #{$footer-height} - 4rem);
}

app-header {
    position: fixed;
    width: 100vw;
    background: #fff;
    z-index: 101;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $mobile-header-height;
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 101;
    box-shadow: 0 0 5px 2px rgba(200,200,200,.35);
    button {
        height: 100%;
        border-radius: 0;
        color: $brand-green;
    }
    button i {
        font-size: 2.25rem;
    }
    img {
        height: calc(#{$mobile-header-height} - 1rem);
    }
}

mat-sidenav ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
    li {
        padding: .8rem;
    }
    a {
        text-decoration: none;
        color: $brand-green;
        padding: .2rem 0;
        position: relative;
    };
    a:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: $brand-green;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    a:hover:after, .active-link:after  { 
        width: 100%; 
        left: 0; 
    }
}

mat-sidenav-content {
    overflow: hidden;
    background-color: #fff;
}