<div class="form-header">
    <p>CHANGER MOT DE PASS</p>
    <i class="material-icons edit-icon" (click)="onToggleEditMode()">edit</i>
</div>
<div class="main-container">
    <div *ngIf="isSending" class="spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
    <form 
        [formGroup]="form" 
        (ngSubmit)="onSubmit(form, formDirective)"
        #formDirective="ngForm" 
        (keydown.enter)="$event.preventDefault()">
        <mat-form-field>
            <mat-label>Current password</mat-label>
            <input matInput type="password" id="currentPassword" formControlName="currentPassword">
            <mat-error *ngIf="form.get('currentPassword').hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('currentPassword').hasError('passwordNotValid')">
                Password is <strong>wrong</strong>
            </mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>New password</mat-label>
            <input matInput type="password" id="newPassword" formControlName="newPassword">
            <mat-error *ngIf="form.get('newPassword').hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
            </mat-form-field>
        
            <mat-form-field>
            <mat-label>Confirm password</mat-label>
            <input matInput type="password" id="confirmPassword" placeholder="Confirm password" formControlName="confirmPassword">
            <mat-error *ngIf="form.get('confirmPassword').hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('confirmPassword').hasError('notSame')">
                Passwords <strong>do not match</strong>
            </mat-error>
        </mat-form-field>
        <button mat-button type="submit" [disabled]="!isEditMode">
            Enregistrer mot de pass
        </button>
    </form>
</div>