<mat-accordion>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
        <mat-panel-title>
            CATALOGUE
        </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex-wrapper">
            <form class="catalog-form" [formGroup]="form" (ngSubmit)="onUpload()" (keydown.enter)="$event.preventDefault()">
                <input formControlName="file" type="file" #file placeholder="Upload file" accept=".pdf,.doc,.docx">
                <button mat-button type="submit">Upload</button>
            </form>
            <div class="catalog-preview-container">
                <app-catalog-preview></app-catalog-preview>
            </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            UTILISATEURS
        </mat-panel-title>
        </mat-expansion-panel-header>
        <app-users></app-users>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            MON PROFILE
        </mat-panel-title>
        </mat-expansion-panel-header>
        <app-user-form></app-user-form>
    </mat-expansion-panel>
</mat-accordion>

