<h2>Mentions légales:</h2>

<p>
  Conformément à l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, nous mettons 
  à disposition les informations suivantes concernant le présent site internet:
</p>
<h3>PROPRIÉTAIRE:</h3>
<p>
  Nom ou Raison sociale: Balagne Medical Services: Adresse: lieu di campu longu, 
  route de calenzana; Adresse électronique: contact@balagnemedical.com; Téléphone: +33495307856; Ville: Calvi
  Code postal: 20260; N° SIRET: 48124410100012.
</p>
<h3>CRÉATEUR / WEBMASTER :</h3>
<p>
  Nom: Mr Riccini Olivier; 
  Adresse: 67 Route Du Cap, Résidence le Magellan Bât B, 20200 San Martino di Lota;
  Email: info@olivierriccini.com;  SIRET: 751 281 775 00047
</p>
<p>Hebergeur: Heroku by Salesforce</p>
<p>SALESFORCE - 50 Fremont St. - Suite 300 - San Francisco, CA - 94105</p>

<h3>RESPONSABLE DE PUBLICATION:</h3>

<p>
  Mme Agostini Grimaldi Valerie  Adresse : casa di lume, chemin terraghju, 20214;
  Calenzana; Email: contact@balagnemedical.com
</p>

<strong>Propriété intellectuelle</strong>
<p>
  Propriété intellectuelle
  Le propriétaire du site internet désigné ci-dessus est le propriétaire exclusif des droits de propriété intellectuelle.
  Toute reproduction totale ou partielle est interdite. Toute exploitation non autorisée du site d’un élément qu’il 
  contient sera considérée comme une contrefaçon et poursuivie, conformément aux articles L.335-2 et 
  suivants du Code de Propriété Intellectuelle.
</p>

<strong>Protection de la vie privée</strong>
<p>
  Information relative à nos formulaires de création de compte utilisateur et de profil
  - Les données personnelles communiquées sont nécessaires aux fins de vous permettre de 
  bénéficier du service. Elles sont destinées à l’annonceur et ses sous-traitants. 
  Vous disposez de droits d’accès, de rectification, d’effacement, 
  de portabilité, de limitation, d’opposition, de retrait de votre consentement à 
  tout moment et du droit d’introduire une réclamation auprès d’une autorité de contrôle, 
  ainsi que d’organiser le sort de vos données post-mortem.  
  Information relative à nos formulaires de contacts / demande de devis
  - Les données personnelles communiquées sont nécessaires aux fins de vous contacter. 
  Vous disposez de droits d’accès, de rectification, d’effacement, de portabilité, 
  de limitation, d’opposition, de retrait de votre consentement à tout moment et 
  du droit d’introduire une réclamation auprès d’une autorité de contrôle, ainsi que 
  d’organiser le sort de vos données post-mortem. Nous conservons vos données pendant 
  la période de prise de contact puis pendant la durée de prescription légale aux fins 
  probatoire et de gestion des contentieux.  Nous nous réservons le droit de modifier à 
  tout moment la présente page. Nous vous invitons par conséquent à la consulter régulièrement 
  afin de vous informer de ses évolutions.
  1. Identité du responsable du traitement
   Les données personnelles sont collectées par l’Annonceur du site tel qu’identifié dans les mentions légales.
  2. Les traitements relatifs à vos données personnelles
   -Notre site ne demande pas d'enregistrement nominatif à ses 
   visiteurs et ne procède à aucun enregistrement nominatif pour la simple consultation 
   de ses pages. Le cas échéant, le formulaire de collecte pourra être accompagné d'une 
   case à cocher vous permettant d'accepter ou de refuser que vos données soient utilisées à 
   des fins commerciales pour le compte de tiers, et/ou cédées à des tiers. Nous ne collectons aucune 
   donnée sensible, à savoir aucune donnée relative à vos origines raciales ou ethniques, 
   à vos opinions politiques, philosophiques ou religieuses ou votre appartenance syndicale, ou qui 
   sont relatives à votre santé ou votre vie sexuelle.
  Quand ?
   -Nous collectons vos données notamment quand:
  Vous créez et utilisez un compte personnel,
  Vous utilisez notre formulaire de contact,
  Quelles finalités ?
  Nous utilisons vos données personnelles pour :
  vous permettre d’utiliser nos services;
  vous informer sur les services pour lesquels vous avez exprimé un intérêt et 
  qui vous sont proposés sur notre site;
  Vos droits
  Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée, v
  ous disposez de droits d’accès, de rectification, d’effacement, d’opposition au ou de 
  limitation du traitement de vos données, de retrait de votre consentement. Vous pouvez également demander 
  la rectification ou la suppression de vos données en parution sur nos supports ou
  vous opposer à leur communication à des partenaires aux fins d’éditions d’annuaires.
</p>