<!-- <div class="flex-wrapper"> -->
  <div class="row first-flex-row">
    <div class="column content-box">
      <h2>BIENVENUE CHEZ BALAGNE MEDICAL SERVICE</h2>
      <div class="text-section">
        <p>Balagne Medical Services est une entreprise qui a été fondée en 2005. Notre équipe est
        spécialisé dans la location et la vente de matériel médical.</p>
        <p>Nous pouvons intervenir auprès des particuliers, des professionnels de la santé, des collectivités,
        des hôpitaux, des Unités de soins et des EPHAD.</p>
        <p>Nous pouvons ainsi contribuer au bien-être de nos clients en leurs
        proposant un aménagement adapté du domicile pour les personnes âgées, les personnes à
        mobilité réduite ou victime des accidents de la vie.</p>
        </div>
      <mat-divider></mat-divider>
      <div class="contact-section">
        <p>DES QUESTIONS? N'HÉSITEZ PAS!</p>
        <button type="button" mat-button routerLink="./contact">NOUS CONTACTER</button>
      </div>
    </div>
    <div class="column images-box">
      <img src="./assets/images/store2.png" alt="store2.png">
    </div>
  </div>
  <div class="row second-flex-row">
    <div class="column images-box">
      <img src="./assets/images/store1.jpeg" alt="store1.jpeg">
    </div>
    <div class="column content-section">
      <h2>NOS SERVICES</h2>
      <mat-divider></mat-divider>
      <ul>
          <li>
              <a routerLink="./services-particuliers" routerLinkActive="active-link">
                <i class="material-icons">accessibility_new</i>
                  POUR LES PARTICULIERS
                  <i class="material-icons arrow-forward">arrow_forward</i>
              </a>
          </li>
          <li>
              <a routerLink="./services-professionnels" routerLinkActive="active-link">
                <i class="material-icons">local_hospital</i>
                POUR LES PROFESSIONNELS
                <i class="material-icons arrow-forward">arrow_forward</i>
              </a>
          </li>
          <li>
              <a routerLink="./pharmacies" routerLinkActive="active-link">
                <i class="material-icons">local_pharmacy</i>
                POUR LES PHARMACIES
                <i class="material-icons arrow-forward">arrow_forward</i>
              </a>
          </li>
      </ul>
    </div>
  </div>
<!-- </div> -->
