@import '../../sass/variables';

.flex-wrapper {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    padding: 2rem 0;
}

.column {
    width: 50%;
}

@media screen and (max-width: $deviseLimit) {
    .row {
        padding: 0;
        padding-bottom: 1rem;
    }
    .column {
      width: 100%;
    }
    .images-box {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    button {
        width: 100%;
    }
}

.first-flex-row {
    h2 {
        color: $brand-green-light !important;
    }
    mat-divider {
        border-top-color: $brand-green-light !important;
    }
    button {
        padding: .5rem 1.5rem;
    }
}

.text-section {
    margin-bottom: 1.5rem;
    p {
        margin-bottom: .8rem;
    }
}

.contact-section {
    margin-top: 1rem;
    p {
        margin-bottom: 1rem;
    }
}

.second-flex-row {
    .content-section {
        background: $brand-green-light;
        padding: 1rem;
        color: #fff;
    }
    mat-divider {
        border-top-color: #fff !important;
    }
}

.second-flex-row ul {
    list-style: none;
    padding: 0; 
    li {
        padding: .8rem;
    }
    a {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: .5rem;
    }
    a i {
        margin-right: 1rem;
    }
    a:hover {
        background-color: $brand-green;
    }
}

.images-box {
    &:first-child {
        padding-right: 2rem;
    }
    &:nth-child(2) {
        padding-left: 2rem;
    }
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        -webkit-filter: grayscale(30%); /* Safari 6.0 - 9.0 */
        filter: grayscale(30%);
    }
}
