<div>
  <p>
      Balagne Medical Services est une entreprise qui a été fondée en 2005. Notre équipe est
    spécialisé dans la location et la vente de matériel médical. Nous pouvons intervenir auprès
    des particuliers, des professionnels de la santé, des collectivités, des hôpitaux, des Unités de
    soins et des EPHAD. Nous pouvons ainsi contribuer au bien-être de nos clients en leurs
    proposant un aménagement adapté du domicile pour les personnes âgées, les personnes à
    mobilité réduite ou victime des accidents de la vie.
  </p>
</div>
